doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.menu
      a(href="/") Message Board/
      a(href="/new") New Message/ 
    block content
